//====================================================
//
//		button
//
//====================================================

//设置按钮尺寸
.button-size(@paddingtb; @paddinglr; @fontsize; @lineheight; @radius) {
	padding: @paddingtb @paddinglr;
	font-size: unit( @fontsize, em );
	line-height: @lineheight;
	border-radius: @radius;
}


//默认按钮
.@{prefix}btn, .@{prefix}btn-def, button {
	display: inline-block;
	margin-bottom: 0; // For input.btn
	// font-weight: @fontweight-bold;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	background-color: @white-darker;
	border: 1px solid transparent;
	white-space: nowrap;
	.button-size(@padding-button-tb; @padding-button-lr; @fontsize-m; @lineheight-def; @radius-def);
	.prefix-selecttext(none);
	.prefix-transition(all linear .125s);

	&,
	&:active,
	&.active,
	&.loading {
		&:focus,
		&.focus {
			border-color: @gray-lighter;
			.prefix-tabfocus();
		}
	}

	&:hover,
	&.hover {
		color: @black-dark;
		border-color: @gray-lighter;
		background-color: @white;
		text-decoration: none;
		.prefix-boxshadow(0 4px 10px rgba(0, 0, 0, .05));
	}

	&:focus,
	&.focus {
		color: @black-dark;
		border-color: @gray-lighter;
		background-color: @white;
		text-decoration: none;
	}

	&:active,
	&.active,
	&.loading {
		color: @black-lighter;
		border-color: @gray-lighter;
		background-color: @white-darker;
		background-image: none;
		.prefix-boxshadow(inset 0 1px 3px rgba(0, 0, 0, .08));
	}
	&.active {
		cursor: @cursor-def;
	}
	&.loading {
		cursor: @cursor-loading;
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		border-color: transparent;
		cursor: @cursor-no;
		.prefix-opacity(.55);
		.prefix-boxshadow(none) !important;
	}

	a& {
	&.disabled,
		fieldset[disabled] & {
			pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
		}
	}
}

.@{prefix}btn-min {
	.button-size(@padding-button-min-tb; @padding-button-min-lr; @fontsize-def; @lineheight-def; @radius-def);
}
.@{prefix}btn-big {
	.button-size(@padding-button-big-tb; @padding-button-big-lr; @fontsize-l; @lineheight-def; @radius-def);
}

.@{prefix}btn-block {
  display: block;
  width: 100%;
}


.@{prefix}btn-inverse {
	color: @white;
	// border-color: @black-dark;
	background-color: @black-lighter;

	&:focus,
	&.focus {
		color: @white-lighter;
		border-color: @black;
		background-color: @black-light;
	}
	
	&:hover,
	&.hover	{
		color: @white-lighter;
		border-color:  @black;
		background-color: @black-light;
		.prefix-boxshadow(0 4px 10px rgba(0, 0, 0, .15));
	}
	
	&:active,
	&.active,
	&.loading,
	.open > .dropdown-toggle& {
		color: @white-light;
		border-color: @black-dark;
		background-color: @black;
		.prefix-boxshadow(inset 0 1px 5px rgba(0, 0, 0, .5));

		&:hover,
		&:focus,
		&.focus {
			color: @white-lighter;
			border-color: @black-dark;
			background-color: @black;
		}
	}
	
	&:active,
	&.active,
	&.loading,
	.open > .dropdown-toggle& {
		background-image: none;
	}
	
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			color: @white-lighter;
			border-color: transparent;
			background-color: @black-light;
		}
	}

	.badge {
		color: @white;
		background-color: @black;
	}
}



.@{prefix}btn-theme {
	color: @white;
	// border-color: @color-theme-dark;
	background-color: @color-theme;

	&:focus,
	&.focus {
		color: @white-lighter;
		border-color: @color-theme;
		background-color: @color-theme-light;
	}
	
	&:hover,
	&.hover	{
		color: @white-lighter;
		border-color:  @color-theme-light;
		background-color: @color-theme-lighter;
		.prefix-boxshadow(0 4px 10px rgba(0, 0, 0, .08));
	}
	
	&:active,
	&.active,
	&.loading,
	.open > .dropdown-toggle& {
		color: @white-light;
		border-color: @color-theme;
		background-color: @color-theme-light;
		.prefix-boxshadow(inset 0 1px 3px rgba(0, 0, 0, .15));

		&:hover,
		&:focus,
		&.focus {
			color: @white-lighter;
			border-color: @color-theme;
			background-color: @color-theme-light;
		}
	}
	
	&:active,
	&.active,
	&.loading,
	.open > .dropdown-toggle& {
		background-image: none;
	}
	
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			color: @white-lighter;
			border-color: transparent;
			background-color: @color-theme-light;
		}
	}

	.badge {
		color: @white;
		background-color: @color-theme;
	}
}



.@{prefix}btn-key {
	color: @white;
	// border-color: @color-key-dark;
	background-color: @color-key;

	&:focus,
	&.focus {
		color: @white-light;
		border-color: @color-key;
		background-color: @color-key-light;
	}
	
	&:hover,
	&.hover	{
		color: @white-light;
		border-color:  @color-key;
		background-color: @color-key-light;
		.prefix-boxshadow(0 4px 10px rgba(0, 0, 0, .08));
	}
	
	&:active,
	&.active,
	&.loading,
	.open > .dropdown-toggle& {
		color: @white-light;
		border-color: @color-key;
		background-color: @color-key-light;
		.prefix-boxshadow(inset 0 1px 3px rgba(0, 0, 0, .2));

		&:hover,
		&:focus,
		&.focus {
			color: @white-light;
			border-color: @color-key;
			background-color: @color-key-light;
		}
	}
	
	&:active,
	&.active,
	&.loading,
	.open > .dropdown-toggle& {
		background-image: none;
	}
	
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			color: @white-light;
			border-color: transparent;
			background-color: @color-key-light;
		}
	}

	.badge {
		color: @white;
		background-color: @color-key;
	}
}



.@{prefix}btn-blink {
	color: @black;
	// border-color: @color-blink-darker;
	background-color: @color-blink;

	&:focus,
	&.focus {
		color: @black-dark;
		border-color: @color-blink-dark;
		background-color: @color-blink-light;
	}
	
	&:hover,
	&.hover	{
		color: @black-dark;
		border-color:  @color-blink-dark;
		background-color: @color-blink-light;
		.prefix-boxshadow(0 3px 5px rgba(0, 0, 0, .06));
	}
	
	&:active,
	&.active,
	&.loading,
	.open > .dropdown-toggle& {
		color: @black;
		border-color: @color-blink-dark;
		background-color: @color-blink-light;
		.prefix-boxshadow(inset 0 1px 3px rgba(0, 0, 0, .08));

		&:hover,
		&:focus,
		&.focus {
			color: @black-dark;
			border-color: @color-blink-dark;
			background-color: @color-blink-light;
		}
	}
	
	&:active,
	&.active,
	&.loading,
	.open > .dropdown-toggle& {
		background-image: none;
	}
	
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			color: @black-dark;
			border-color: transparent;
			background-color: @color-blink-light;
		}
	}

	.badge {
		color: @black;
		background-color: @color-blink;
	}
}



.@{prefix}btn-nice {
	color: @white;
	// border-color: @color-nice-dark;
	background-color: @color-nice;

	&:focus,
	&.focus {
		color: @white-lighter;
		border-color: @color-nice;
		background-color: @color-nice-light;
	}
	
	&:hover,
	&.hover	{
		color: @white-lighter;
		border-color:  @color-nice-light;
		background-color: @color-nice-lighter;
		.prefix-boxshadow(0 4px 10px rgba(0, 0, 0, .08));
	}
	
	&:active,
	&.active,
	&.loading,
	.open > .dropdown-toggle& {
		color: @white-light;
		border-color: @color-nice;
		background-color: @color-nice-light;
		.prefix-boxshadow(inset 0 1px 3px rgba(0, 0, 0, .15));

		&:hover,
		&:focus,
		&.focus {
			color: @white-lighter;
			border-color: @color-nice;
			background-color: @color-nice-light;
		}
	}
	
	&:active,
	&.active,
	&.loading,
	.open > .dropdown-toggle& {
		background-image: none;
	}
	
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			color: @white-lighter;
			border-color: transparent;
			background-color: @color-nice-light;
		}
	}

	.badge {
		color: @white;
		background-color: @color-nice;
	}
}








