//====================================================
//
//		button
//
//====================================================

//设置按钮尺寸
.button-size(@paddingtb; @paddinglr; @fontsize; @lineheight; @radius) {
	padding: @paddingtb @paddinglr;
	font-size: unit( @fontsize, em );
	line-height: @lineheight;
	border-radius: @radius;
}


//默认按钮
.@{prefix}btn, .@{prefix}btn-def, button {
	display: inline-block;
	margin-bottom: 0; // For input.btn
	// font-weight: @fontweight-bold;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	background-color: @white-darker;
	border: 1px solid transparent;
	white-space: nowrap;
	.button-size(@padding-button-tb; @padding-button-lr; @fontsize-m; @lineheight-def; @radius-def);
	.prefix-selecttext(none);
	.prefix-transition(all linear .125s);

	&,
	&:active,
	&.active,
	&.loading {
		&:focus,
		&.focus {
			border-color: @gray-lighter;
			.prefix-tabfocus();
		}
	}

	&:hover,
	&.hover {
		color: @black-dark;
		border-color: @gray-lighter;
		background-color: @white;
		text-decoration: none;
		.prefix-boxshadow(0 4px 10px rgba(0, 0, 0, .05));
	}

	&:focus,
	&.focus {
		color: @black-dark;
		border-color: @gray-lighter;
		background-color: @white;
		text-decoration: none;
	}

	&:active,
	&.active,
	&.loading {
		color: @black-lighter;
		border-color: @gray-lighter;
		background-color: @white-darker;
		background-image: none;
		.prefix-boxshadow(inset 0 1px 3px rgba(0, 0, 0, .08));
	}
	&.active {
		cursor: @cursor-def;
	}
	&.loading {
		cursor: @cursor-loading;
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: @cursor-no;
		.prefix-opacity(.55);
		.prefix-boxshadow(none) !important;
	}

	a& {
	&.disabled,
		fieldset[disabled] & {
			pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
		}
	}
}


.@{prefix}btn-theme {
	color: @white;
	background-color: @color-theme;
	// border-color: @color-theme-dark;

	&:focus,
	&.focus {
		color: @white-lighter;
		border-color: @color-theme;
		background-color: @color-theme-light;
	}
	
	&:hover,
	&.hover	{
		color: @white-lighter;
		border-color:  @color-theme-light;
		background-color: @color-theme-lighter;
		.prefix-boxshadow(0 4px 10px rgba(0, 0, 0, .08));
	}
	
	&:active,
	&.active,
	&.loading,
	.open > .dropdown-toggle& {
		color: @white-light;
		border-color: @color-theme;
		background-color: @color-theme-light;
		.prefix-boxshadow(inset 0 1px 3px rgba(0, 0, 0, .125));

		&:hover,
		&:focus,
		&.focus {
			color: @white-lighter;
			border-color: @color-theme;
			background-color: @color-theme-light;
		}
	}
	
	&:active,
	&.active,
	&.loading,
	.open > .dropdown-toggle& {
		background-image: none;
	}
	
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			color: @white-lighter;
			border-color: @color-theme;
			background-color: @color-theme-light;
		}
	}

	.badge {
		color: @white;
		background-color: @color-theme;
	}
}













