//====================================================
//
//		checkbox and radio
//
//====================================================

//选择框
.@{prefix}checkbox,
.@{prefix}radio {
	display: inline-block;
	position: relative;
	padding: @padding-checkboxradio-tb @padding-checkboxradio-r @padding-checkboxradio-tb @padding-checkboxradio-l;
	border: 1px solid transparent;
	vertical-align: middle;
	cursor: @cursor-pointer;

	&:before,
	&:after {
		position: absolute;
		top: 7px;
		left: 2px;
		line-height: @height-checkbox;
		text-align: center;

		.prefix-opacity(1);
		.prefix-transition();
	}
	&:before {
		z-index: @zindex-checkboxradio-before;
	}
	&:after {
		z-index: @zindex-checkboxradio-after;
	}
	input[type="checkbox"],
	input[type="radio"] {
		display: none;
	}
	.@{prefix}checkbox-text,
	.@{prefix}radio-text {
		display: inline-block;
		height: @height-checkbox;
		line-height: @height-checkbox;
		font-size: @fontsize-checkboxradio-text;
		vertical-align: middle;
	}
	&.checked {
		cursor: @cursor-def;
	}
	&.disabled,
	&[disabled] {
		cursor: not-allowed;

		.@{prefix}checkbox-text,
		.@{prefix}radio-text {
			color: @color-gray-light;
		}
	}

}
.@{prefix}checkbox {
	&:before {
		color: @color-gray-light;

		.comm-iconfont( @icon-checkboxbefore, @fontsize-checkboxicon );
	}
	&:after {
		display: none \9;		/* ie hack */

		.prefix-opacity(0);
		.comm-iconfont( @icon-checkboxafter, @fontsize-checkboxicon );
	}
	&:hover,
	&.hover {
		&:before {
			display: none \9;		/* ie hack */

			.prefix-opacity(0);
		}
		&:after {
			display: block \9;		/* ie hack */
			color: @color-checkbox-checked;

			.prefix-opacity(.8);
		}
	}
	&.checked {
		&:before {
			.prefix-opacity(0);
		}
		&:after {
			display: block \9;		/* ie hack */
			color: @color-checkbox-checked;

			.prefix-opacity(1);
			.comm-iconfont( @icon-checkboxafter-checked, @fontsize-checkboxicon );
		}
	}
	&.disabled,
	&[disabled] {
		&:before,
		&:hover:before {
			display: block \9;		/* ie hack */
			color: @color-gray-lightest;

			.prefix-opacity(1);
		}
		&:after,
		&:hover:after {
			display: none \9;		/* ie hack */

			.prefix-opacity(0);
		}
	}
}
.@{prefix}radio {
	&:before,
	&:after {
		left: 1px;
	}
	&:before {
		color: @color-gray-light;

		.comm-iconfont( @icon-radiobefore, @fontsize-radioicon );
	}
	&:after {
		display: none \9;		/* ie hack */

		.prefix-opacity(0);
		.comm-iconfont( @icon-radioafter, @fontsize-radioicon );
	}
	&:hover,
	&.hover {
		&:before {
			display: none \9;		/* ie hack */

			.prefix-opacity(0);
		}
		&:after {
			display: block \9;		/* ie hack */
			color: @color-radio-checked;

			.prefix-opacity(.8);
		}
	}
	&.checked {
		&:before {
			.prefix-opacity(0);
		}
		&:after {
			display: block \9;		/* ie hack */
			color: @color-radio-checked;

			.prefix-opacity(1);
			.comm-iconfont( @icon-radioafter-checked, @fontsize-radioicon );
		}
	}
	&.disabled,
	&[disabled] {
		&:before,
		&:hover:before {
			display: block \9;		/* ie hack */
			color: @color-gray-lightest;

			.prefix-opacity(1);
		}
		&:after,
		&:hover:after {
			display: none \9;		/* ie hack */

			.prefix-opacity(0);
		}
	}
}


.@{prefix}checkbox-theme,
.@{prefix}radio-theme {
	&.checked {
		&:after {
			color: @color-theme-normal;
		}
	}
}
.@{prefix}checkbox-key,
.@{prefix}radio-key {
	&.checked {
		&:after {
			color: @color-key-normal;
		}
	}
}
.@{prefix}checkbox-light,
.@{prefix}radio-light {
	&.checked {
		&:after {
			color: @color-light-darkest;
		}
	}
}
.@{prefix}checkbox-nice,
.@{prefix}radio-nice {
	&.checked {
		&:after {
			color: @color-nice-normal;
		}
	}
}


.@{prefix}checkbox.@{prefix}checkbox-full,
.@{prefix}radio.@{prefix}radio-full {
	display: block;
	width: 100%;
}
