//====================================================
//
//		checkbox and radio
//
//====================================================

//选择框
.@{prefix}checkbox,
.@{prefix}radio {
	display: inline-block;
	position: relative;
	padding: @padding-checkboxradio-tb @padding-checkboxradio-r @padding-checkboxradio-tb @padding-checkboxradio-l;
	border: 1px solid transparent;
	vertical-align: middle;
	cursor: pointer;
	
	&:before {
		position: absolute;
		text-align: center;
		
		.prefix-opacity(1);
		.prefix-transition(all linear .2s);
	}
	&:after {
		position: absolute;
		text-align: center;
		display: none;
		
		.prefix-opacity(0);
		.prefix-transition(all linear .3s);
	}
	input[type="checkbox"], 
	input[type="radio"] {
		display: none;
	}
	.@{prefix}checkbox-text,
	.@{prefix}radio-text {
		display: block;
		height: @height-checkbox;
		line-height: @height-checkbox;
		font-size: unit(@fontsize-checkboxradio-text, em);
		vertical-align: middle;
	}
	&.checked {
		cursor: @cursor-def;
	}
	&.disabled,
	&[disabled] {
		cursor: not-allowed;
		
		.@{prefix}checkbox-text,
		.@{prefix}radio-text {
			color: @gray-light;
		}
	}
	
}
.@{prefix}checkbox {
	&:before {
		top: @top-checkboxbefore;
		left: @left-checkboxbefore;
		width: @width-checkbox-icon;
		height: @height-checkbox-icon;
		background: @white-dark;
		border: 1px solid transparent;
		font-size: @fontsize-checkboxbefore;
		content: @icon-checkboxbefore;
		border-radius: 0%;
	}
	&:after {
		top: @top-checkboxafter;
		left: @left-checkboxafter;
		width: @width-checkbox-icon;
		height: @height-checkbox-icon;
		line-height: @height-checkbox;
		font-size: @fontsize-checkboxafter;
		content: @icon-checkboxafter;
	}
	&:hover,
	&.hover {
		&:before {
			background: @white;
			border-color: @gray-lighter;
			
			.prefix-boxshadow(0 2px 5px rgba(0, 0, 0, .08));
		}
		&:after {
			color: @gray-lightest;
			display: block;
			
			.prefix-opacity(1);
		}
	}
	&.checked {
		&:before {
			background: @white;
			border-color: @gray-lighter;
			
			.prefix-boxshadow(inset 0 1px 3px rgba(0, 0, 0, .05));
		}
		&:after {
			color: @color-checkbox-checked;
			display: block;
			
			.prefix-opacity(1);
		}
	}
	&.disabled,
	&[disabled] {
		&:before {
			background: @white;
			border-color: transparent;
			
			.prefix-boxshadow(none);
		}
		&:after {
			top: @top-checkboxafter-disabled;
			left: @left-checkboxafter-disabled;
			color: @gray-lighter;
			font-size: @fontsize-checkboxafter-disabled;
			content: @icon-checkboxafter-disabled;
			display: block;
			
			.prefix-opacity(1);
		}
	}
}
.@{prefix}radio {
	&:before {
		top: @top-radiobefore;
		left: @left-radiobefore;
		width: @width-radio-icon;
		height: @height-radio-icon;
		line-height: @height-radio;
		font-size: @fontsize-radiobefore;
		color: @gray-lightest;
		content: @icon-radiobefore;
	}
	&:after {
		top: @top-radioafter;
		left: @left-radioafter;
		width: @width-radio-icon;
		height: @height-radio-icon;
		line-height: @height-radio;
		font-size: @fontsize-radioafter;
		content: @icon-radioafter;
	}
	&:hover,
	&.hover {
		&:before {
			color: @white-darker;
			
			.prefix-boxshadow(none);
		}
		&:after {
			color: @gray-lighter;
			display: block;
			
			.prefix-opacity(1);
		}
	}
	&.checked {
		&:after {
			color: @color-radio-checked;
			display: block;
			
			.prefix-opacity(1);
		}
	}
	&.disabled,
	&[disabled] {
		&:before {
			display: none;
			
			.prefix-opacity(0);
		}
		&:after {
			top: @top-radioafter-disabled;
			left: @left-radioafter-disabled;
			width: @width-radio-icon;
			height: @height-radio-icon;
			line-height: @height-radio;
			font-size: @fontsize-radioafter-disabled;
			color: @gray-lightest;
			content: @icon-radioafter-disabled;
			display: block;
			
			.prefix-opacity(1);
		}
	}
}


.@{prefix}checkbox-block,
.@{prefix}radio-block {
	display: block;
}

.@{prefix}checkbox-min {
	padding-left: @padding-checkbox-min-l;
	
	&:before {
		top: @top-checkboxbefore-min;
		left: @left-checkboxbefore-min;
		width: @width-checkbox-icon-min;
		height: @height-checkbox-icon-min;
		line-height: @height-checkbox-icon-min;
		font-size: @fontsize-checkboxbefore-min;
		background: @white-dark;
		border: 1px solid transparent;
	}
	&:after {
		top: @top-checkboxafter-min;
		left: @left-checkboxafter-min;
		width: @width-checkbox-icon-min;
		height: @height-checkbox-icon-min;
		line-height: @height-checkbox-icon-min;
		font-size: @fontsize-checkboxafter-min;
	}
	.@{prefix}checkbox-text,
	.@{prefix}radio-text {
		font-size: unit(@fontsize-checkboxradio-text-disabled,em);
	}
	&.disabled,
	&[disabled] {
		&:after {
			top: @top-checkboxafter-min-disabled;
			left: @left-checkboxafter-min-disabled;
			font-size: @fontsize-checkboxafter-min-disabled;
		}
	}
}
.@{prefix}radio-min {
	padding-left: @padding-radio-min-l;
	
	&:before {
		top: @top-radiobefore-min;
		left: @left-radiobefore-min;
		width: @width-radio-icon-min;
		height: @height-radio-icon-min;
		line-height: @height-radio-icon-min;
		font-size: @fontsize-radiobefore-min;
	}
	&:after {
		top: @top-radioafter-min;
		left: @left-radioafter-min;
		width: @width-radio-icon-min;
		height: @height-radio-icon-min;
		line-height: @height-radio-icon-min;
		font-size: @fontsize-radioafter-min;
	}
	.@{prefix}checkbox-text,
	.@{prefix}radio-text {
		font-size: unit(@fontsize-checkboxradio-text-disabled,em);
	}
	&.disabled,
	&[disabled] {
		&:after {
			top: @top-radioafter-min-disabled;
			left: @left-radioafter-min-disabled;
			width: @width-radio-icon;
			height: @height-radio-icon;
			line-height: @height-radio-icon;
			font-size: @fontsize-radioafter-min-disabled;
		}
	}
}



