//====================================================
//
//		commonclass
//
//====================================================

//背景颜色
.@{prefix}bgtheme {
	background-color: @color-theme;
}
.@{prefix}bgtheme-light {
	background-color: @color-theme-light;
}
.@{prefix}bgtheme-lighter {
	background-color: @color-theme-lighter;
}
.@{prefix}bgtheme-dark {
	background-color: @color-theme-dark;
}
.@{prefix}bgtheme-darker {
	background-color: @color-theme-darker;
}

.@{prefix}bgkey {
	background-color: @color-key;
}
.@{prefix}bgkey-light {
	background-color: @color-key-light;
}
.@{prefix}bgkey-dark {
	background-color: @color-key-dark;
}
.@{prefix}bgkey-darker {
	background-color: @color-key-darker;
}

.@{prefix}bgblink {
	background-color: @color-blink-dark;
}
.@{prefix}bgblink-light {
	background-color: @color-blink;
}
.@{prefix}bgblink-lighter {
	background-color: @color-blink-light;
}
.@{prefix}bgblink-lightest {
	background-color: @color-blink-lighter;
}
.@{prefix}bgblink-dark {
	background-color: @color-blink-darker;
}
.@{prefix}bgblink-darker {
	background-color: @color-blink-darkest;
}

.@{prefix}bgnice {
	background-color: @color-nice;
}
.@{prefix}bgnice-light {
	background-color: @color-nice-light;
}
.@{prefix}bgnice-lighter {
	background-color: @color-nice-lighter;
}
.@{prefix}bgnice-dark {
	background-color: @color-nice-dark;
}
.@{prefix}bgnice-darker {
	background-color: @color-nice-darker;
}

.@{prefix}bgblack {
	background-color: @black-light;
}
.@{prefix}bgblack-light {
	background-color: @black-lighter;
}
.@{prefix}bgblack-dark {
	background-color: @black;
}
.@{prefix}bgblack-darker {
	background-color: @black-dark;
}
.@{prefix}bgblack-darkest {
	background-color: @black-darker;
}

.@{prefix}bgwhite {
	background-color: @white-light;
}
.@{prefix}bgwhite-light {
	background-color: @white-lighter;
}
.@{prefix}bgwhite-dark {
	background-color: @white;
}
.@{prefix}bgwhite-darker {
	background-color: @white-dark;
}
.@{prefix}bgwhite-darkest {
	background-color: @white-darker;
}

.@{prefix}bggray {
	background-color: @gray-light;
}
.@{prefix}bggray-light {
	background-color: @gray-lighter;
}
.@{prefix}bggray-lighter {
	background-color: @gray-lightest;
}
.@{prefix}bggray-dark {
	background-color: @gray;
}
.@{prefix}bggray-darker {
	background-color: @gray-dark;
}
.@{prefix}bggray-darkest {
	background-color: @gray-darker;
}

//文字颜色
.@{prefix}ftheme {
	color: @color-theme-darker;
}
.@{prefix}fkey {
	color: @color-key-darker;
}
.@{prefix}fblink {
	color: @color-blink-darker;
}
.@{prefix}fnice {
	color: @color-nice-darker;
}
.@{prefix}fblack {
	color: @black;
}
.@{prefix}fwhite {
	color: @white-light;
}
.@{prefix}fgray {
	color: @gray-darker;
}

//字体粗细
//.@{prefix}fontsize-[12,14,16,18,20,...,32]
.loop-makefontsize(32);

//字体粗细
.@{prefix}bold {
	font-weight: @fontweight-bold;
}
.@{prefix}normal {
	font-weight: @fontweight-def;
}


//字间距
//.@{prefix}fontspace-[1,2,3,4,5,6,7,8,9,10]
.loop-makeletterspace(1);


//段落
.@{prefix}indent p {
	text-indent: 2em;
}


//边框
.@{prefix}dotted {
	border-style: @borderstyle-dotted;
}
.@{prefix}double {
	border-style: @borderstyle-double;
}
.@{prefix}dashed {
	border-style: @borderstyle-dashed;
}


//圆角
//.@{prefix}radius-[1,2,3,4,5,6,7,8,9,10]
.loop-makeradius(1);
//.@{prefix}radiusp-[10,20,30,40,50]
.loop-makeradiusp(50);


//显示隐藏
.@{prefix}unvisible {
	visibility: hidden !important;
}
.@{prefix}hide {
	display: none !important;
}
.@{prefix}show {
	display: block !important;
}


//浮动
.@{prefix}fleft {
	float: left !important;
}

.@{prefix}fright {
	float: right !important;
}

.@{prefix}clearfix {
	.comm-clearfix();
}


//定位
.@{prefix}fixed {
	position: fixed !important;
}