//====================================================
//
//		popmenu
//
//====================================================


//设置菜单尺寸
.popmenu-size(@minwidth; @height-item; @lineheight-item; @fontsize; @fontweight; @padding-tb; @padding-item-l; @padding-item-r) {
	min-width: @minwidth;
	font-size: @fontsize;	//unit(@fontsize, em);
	font-weight: @fontweight;
	padding: @padding-tb 0 @padding-tb;

	.@{prefix}popmenu-item {
		height: @height-item;
		line-height: @lineheight-item;
		padding-left: @padding-item-l;
		padding-right: @padding-item-r;
	}
}

//设置菜单风格
.popmenu-style(@bordercolor; @bgcolor; @radius) {
	border-color: @bordercolor;
	background-color: @bgcolor;

	.prefix-border-radius(@radius);

}

//默认菜单
.@{prefix}popmenu,
.@{prefix}popmenu-sub {
	position: absolute;
	z-index: @zindex-popmenu;
	display: none;
	left: 0;
	min-width: @minwidth-popmenu;
	margin: 0;
	border: 1px solid transparent;
	text-align: left;

	.popmenu-size(@minwidth-popmenu; @height-popmenu-item; @height-popmenu-item; @fontsize-popmenu; @fontweight-def; @padding-popmenu-tb; @padding-popmenu-item-l; @padding-popmenu-item-r);
	.popmenu-style(@bordercolor-popmenu; @bgcolor-popmenu; @radius-popmenu);
	.prefix-box-shadow(0 5px 20px rgba(0, 0, 0, .08));

	&:active,
	&.active {
		z-index: @zindex-popmenu-active;
		display: block;
	}
	&:hover,
	&.hover {
		z-index: @zindex-popmenu-hover
	}
	.@{prefix}popmenu-item {
		position: relative;
		display: block;
		width: 100%;
		list-style: none;
		color: @color-popmenu;
		background-color: @color-white-lighter;
		text-decoration: none;
		cursor: @cursor-pointer;

		.comm-textoverflow();
		.prefix-transition(all linear .08s);
		.prefix-selecttext(none);
		.comm-clearfix();

		& .icon,
		& .hd {
			position: absolute;
			top: 0;
			left: @padding-popmenu-item-l;
			bottom: 0;
			line-height: @height-popmenu-item;
		}
		& .md {
			line-height: @height-popmenu-item;
			text-align: center;
		}
		& .ft {
			position: absolute;
			top: 0;
			right: @padding-popmenu-item-r;
			bottom: 0;
			line-height: @height-popmenu-item;
		}
		& small,
		& .small {
			color: lighten(@color-popmenu, 30%);
			font-size: 0.65em;
		}

		&:hover {
			color: @color-black-dark;
			background-color: @color-white-dark;
		}
		&:active,
		&.active,
		&.selected {
			color: @color-black-normal;
			background-color: @color-gray-lightest;

			.prefix-box-shadow(inset 0 1px 2px rgba(0, 0, 0, .08));
		}
		&.selected {
			color: @color-popmenu-item-selected;
			background-color: @bgcolor-popmenu-item-selected;
			cursor: @cursor-def;

			.prefix-box-shadow(none);

			&:after {
				position: absolute;
				top: 0;
				right: @padding-popmenu-item-r;
				height: @height-popmenu-item;
				line-height: @height-popmenu-item;
				color: @color-popmenu-icon-selected;
				display: none \9;		/* ie hack */

				.prefix-opacity(0);
				.comm-iconfont( @icon-popmenu-selected, @fontsize-popmenu-icon-selected );
			}
		}
		&.hassub {
			&:after {
				position: absolute;
				top: 0;
				right: @padding-popmenu-item-r;
				height: @height-popmenu-item;
				line-height: @height-popmenu-item;
				color: @color-popmenu-icon-hassub;
				display: none;

				.comm-iconfont( @icon-popmenu-sub-right, @fontsize-popmenu-icon-hassub );
			}
		}
		&.disabled {
			&,
			&:hover,
			&:active,
			&.active,
			&.selected,
			&.hassub {
				color: @color-gray-normal;
				cursor: @cursor-no;
				background-color: @color-white-lighter;
				.prefix-box-shadow(none);
			}
		}
	}
	.@{prefix}split {
		height: 0px;
		border-top: 1px solid @color-gray-lightest;
		margin: @height-popmenu-split/2 0px;
		font-size: 0;
	}
}
.@{prefix}popmenu-selectable {
	.@{prefix}popmenu-item {
		padding-right: @padding-popmenu-selectable-item-r;

		&.selected {
			&:after {
				display: block \9;		/* ie hack */

				.prefix-opacity(1);
			}
		}
	}
}
.@{prefix}popmenu-icon {
	.@{prefix}popmenu-item {
		padding-left: @padding-popmenu-icon-item-l;

		& .icon {
			color: @color-black-lighter;
			font-size: @fontsize-popmenu-icon;
		}
		& .hd {
			left: @padding-popmenu-icon-item-l;
		}
	}
}
.@{prefix}popmenu-tree,
.@{prefix}popmenu-tree-left,
.@{prefix}popmenu-tree-top {
	.@{prefix}popmenu-item {
		padding-right: @padding-popmenu-tree-item-r;

		&>.popmenu-sub {
			top: 0;
			left: 100%;
			margin-left: -5px;
			display: none;
		}
		&.hassub {
			&:after {
				display: block;
			}
			&:hover,
			&:active,
			&.active {
				&>.popmenu-sub {
					display: block;
				}
			}
		}
	}
}
.@{prefix}popmenu-tree-left {
	.@{prefix}popmenu-item {
		&>.popmenu-sub {
			left: auto;
			right: 100%;
			margin-right: -5px;
		}
	}
}
.@{prefix}popmenu-tree-top {
	.@{prefix}popmenu-item {
		&>.popmenu-sub {
			top: auto;
			bottom: 0px;
		}
	}
}
.@{prefix}popmenu-full {
	min-width: 100%;
	width: 100%;
}
.@{prefix}popmenu-small {
	&,.@{prefix}popmenu-sub{
		.popmenu-size(@minwidth-popmenu-small; @height-popmenu-small-item; @height-popmenu-small-item; @fontsize-popmenu-small; @fontweight-def; @padding-popmenu-tb; @padding-popmenu-item-l; @padding-popmenu-item-r);
	}
}
.@{prefix}popmenu-large {
	&,.@{prefix}popmenu-sub{
		.popmenu-size(@minwidth-popmenu-large; @height-popmenu-large-item; @height-popmenu-large-item; @fontsize-popmenu-large; @fontweight-def; @padding-popmenu-tb; @padding-popmenu-item-l; @padding-popmenu-item-r);
	}
}