//====================================================
//
//		framework
//
//====================================================

*{
	.box-sizing(border-box);
}
*:after,
*:before{
	.box-sizing(border-box);
}

html{
	
}

body{
	font-family: @fontfamily-def;
	font-size: @fontsize-def;
	line-height: @lineheight-def;
	color: @color-def;
	background-color: @backgroundcolor-def;
}

p {
	margin:0px 0px (@lineheight-auto / 2);
}