//====================================================
//
//      variables
//
//====================================================

//prime类名前缀（一般用于自定义样式库和解决css类名冲突）
@prefix:                ~"";

//颜色
@color-theme-darker:        #027FA2;
@color-theme-dark:          #319DBB;
@color-theme-normal:        #05C3F9;
@color-theme-light:         #43D3FC;
@color-theme-lighter:       #74DEFC;
@color-theme-lightest:      #D8F6FE;

@color-key-darker:          #A22613;
@color-key-dark:            #BB5D4F;
@color-key-normal:          #F95339;        //#FF735D;
@color-key-light:           #FB6C56;        //#FC7E6A;

@color-light-darkest:       #FFD301;
@color-light-darker:        #FFF201;
@color-light-dark:          #FFFF01;
@color-light-normal:        #FFFF41;
@color-light-light:         #FFFF73;
@color-light-lighter:       #FFFFC5;

@color-nice-darker:         #00814D;
@color-nice-dark:           #269568;
@color-nice-normal:         #01C677;
@color-nice-light:          #39E39E;
@color-nice-lighter:        #67E3B1;

@color-black-darker:        #000;
@color-black-dark:          #222;
@color-black-normal:        #333;
@color-black-light:         #444;
@color-black-lighter:       #666;

@color-white-darker:        #F3F3F3;
@color-white-dark:          #F5F5F5;
@color-white-normal:        #F7F7F7;
@color-white-light:         #FAFAFA;
@color-white-lighter:       #FFF;

@color-gray-darker:         #999;
@color-gray-dark:           #AAA;
@color-gray-normal:         #BBB;
@color-gray-light:          #CCC;
@color-gray-lighter:        #DDD;
@color-gray-lightest:       #EEE;

@color-def:             @color-black-normal;
@color-weak:            @color-gray-darker;
@color-title:           inherit;
@color-hr:              @color-gray-lighter;
@color-small:           @color-gray-darker;

@color-link:            @color-theme-dark;
@color-link-hover:      @color-theme-darker;

@bgcolor-def:           @color-white-light;
@bgcolor-weak:          @color-white-normal;

//布局
@grid-columns-12:       12;     //偶数等分12列
@grid-columns-5:        5;      //奇数等分5列
@grid-columns-7:        7;      //奇数等分7列
@grid-rowspace:         2px;
@grid-colspace:         2px;

//控件
@height-control:                35px;
@height-control-small:          28px;
@height-control-large:          45px;

@fontsize-control:              14px;
@fontsize-control-small:        12px;
@fontsize-control-large:        16px;

@padding-control-tb:            8px;        //上下内间距
@padding-control-lr:            18px;       //左右内间距
@padding-control-small-tb:      6px;
@padding-control-small-lr:      14px;
@padding-control-large-tb:      10px;
@padding-control-large-lr:      30px;

//字体
@fontfamily-ios:        -apple-system, sf_ui_textlight;
@fontfamily-en:         "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial;
@fontfamily-zh:         "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei";
@fontfamily-sys:        sans-serif;
// @fontfamily-def:     -apple-system, sf_ui_textlight, "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
@fontfamily-def:        ~"@{fontfamily-ios}, @{fontfamily-en}, @{fontfamily-zh}, @{fontfamily-sys}";
@fontfamily-title:      inherit;
@fontfamily-html:       "Helvetica Neue", Helvetica, Arial, sans-serif;

@fontfamily-icon:       "iconfont";


//图标（特殊符号）
@icon-done:                     "\e60b";
@icon-delete:                   "\e608";

@icon-checkboxbefore:           "\e620";
@icon-checkboxafter:            "\e621";
@icon-checkboxafter-checked:    "\e622";
@icon-radiobefore:              "\e64b";
@icon-radioafter:               "\e64c";
@icon-radioafter-checked:       "\e64a";

@icon-left:                     "\e603";
@icon-left-min:                 "\e61f";
@icon-right:                    "\e601";
@icon-right-min:                "\e652";
@icon-down:                     "\e600";
@icon-down-min:                 "\e64d";
@icon-up:                       "\e602";
@icon-up-min:                   "\e615";

@icon-snow:                     "*";



//排版
@defpx:                 16;
@rem2px:                1/@defpx;   // 1/16 = 0.0625;

@fontsize-s:            0.75;   // 12px
@fontsize-def:          0.875;  // 14px
@fontsize-m:            1;      // 16px
@fontsize-l:            1.125;  // 18px
@fontsize-xl:           1.5;    // 24px
@fontsize-xxl:          1.875;  // 30px
@fontsize-xxxl:         2.25;   // 36px

@fontweight-def:        400;        //==normal
@fontweight-bold:       700;        //==bold
@fontweight-title:      500;        //==Medium

@lineheight-def:        1.5;
@lineheight-auto:       floor(@fontsize-def/@rem2px * @lineheight-def); //动态行高，根据字体大小计算
@lineheight-title:      1.1;

//边框
@borderstyle-def:       solid;
@borderstyle-dotted:    dotted;
@borderstyle-double:    double;
@borderstyle-dashed:    dashed;

//z层级
@zindex-def:            0;
@zindex-bg:             1;
@zindex-control:        100;
@zindex-layer:          1000;

//倒角
@radius-def:            .3em;
@radius-1:              .1em;
@radius-2:              .2em;
@radius-3:              .3em;
@radius-4:              .4em;
@radius-5:              .5em;
@radius-6:              .6em;
@radius-7:              .7em;
@radius-8:              .8em;
@radius-9:              .9em;
@radius-10:             1em;

//指针样式
// auto         :　          默认值 。浏览器根据当前情况自动确定鼠标光标类型。
// all-scroll       :　  IE6.0   有上下左右四个箭头，中间有一个圆点的光标。用于标示页面可以向上下左右任何方向滚动。
// col-resize       :　  IE6.0   有左右两个箭头，中间由竖线分隔开的光标。用于标示项目或标题栏可以被水平改变尺寸。
// crosshair        :　          简单的十字线光标。
// default          :　          客户端平台的默认光标。通常是一个箭头。
// hand         :　          竖起一只手指的手形光标。就像通常用户将光标移到超链接上时那样。
// move         :　          十字箭头光标。用于标示对象可被移动。
// help         :　          带有问号标记的箭头。用于标示有帮助信息存在。
// no-drop          :　  IE6.0   带有一个被斜线贯穿的圆圈的手形光标。用于标示被拖起的对象不允许在光标的当前位置被放下。
// not-allowed      :　  IE6.0   禁止标记(一个被斜线贯穿的圆圈)光标。用于标示请求的操作不允许被执行。
// pointer          :　  IE6.0   和 hand 一样。竖起一只手指的手形光标。就像通常用户将光标移到超链接上时那样。
// progress     :　  IE6.0   带有沙漏标记的箭头光标。用于标示一个进程正在后台运行。
// row-resize       :　  IE6.0   有上下两个箭头，中间由横线分隔开的光标。用于标示项目或标题栏可以被垂直改变尺寸。
// text         :　          用于标示可编辑的水平文本的光标。通常是大写字母 I 的形状。
// vertical-text    :　  IE6.0   用于标示可编辑的垂直文本的光标。通常是大写字母 I 旋转90度的形状。
// wait         :　          用于标示程序忙用户需要等待的光标。通常是沙漏或手表的形状。
// *-resize     :　          用于标示对象可被改变尺寸方向的箭头光标。
                            // w-resize | s-resize | n-resize | e-resize | ne-resize | sw-resize | se-resize | nw-resize
// url ( url )      :　  IE6.0   用户自定义光标。使用绝对或相对 url 地址指定光标文件(后缀为 .cur 或者 .ani )。
@cursor-def:            default;
@cursor-pointer:        pointer;
@cursor-no:             not-allowed;
@cursor-loading:        wait;


//按钮
@height-btn:                @height-control;
@height-btn-small:          @height-control-small;
@height-btn-large:          @height-control-large;

@lineheight-btn:            @height-btn - @padding-control-tb*2 - 2px;
@lineheight-btn-small:      @height-btn-small - @padding-control-small-tb*2 - 2px;
@lineheight-btn-large:      @height-btn-large - @padding-control-large-tb*2 - 2px;

@fontsize-btn:              @fontsize-control;
@fontsize-btn-small:        @fontsize-control-small;
@fontsize-btn-large:        @fontsize-control-large;

@padding-btn-tb:            @padding-control-tb;        //按钮上下内间距
@padding-btn-lr:            @padding-control-lr;        //按钮左右内间距
@padding-btn-small-tb:      @padding-control-small-tb;
@padding-btn-small-lr:      @padding-control-small-lr;
@padding-btn-large-tb:      @padding-control-large-tb;
@padding-btn-large-lr:      @padding-control-large-lr;

@radius-btn:                @radius-def;
@zindex-btn:                @zindex-control;
@zindex-active-btn:         @zindex-control + 10;

@color-def-btn:                         @color-black-light;
@color-hover-btn:                       @color-black-dark;
@color-focus-btn:                       @color-black-dark;
@color-active-btn:                      @color-black-lighter;
@color-disabled-btn:                    @color-black-lighter;
@bordercolor-def-btn:                   @color-gray-lighter;
@bordercolor-hover-btn:                 @color-gray-light;
@bordercolor-focus-btn:                 @color-gray-light;
@bordercolor-active-btn:                @color-gray-light;
@bordercolor-disabled-btn:              transparent;
@bgcolor-def-btn:                       @color-white-lighter;
@bgcolor-hover-btn:                     @color-white-lighter;
@bgcolor-focus-btn:                     @color-white-lighter;
@bgcolor-active-btn:                    @color-white-light;
@bgcolor-disabled-btn:                  @color-white-dark;
@shadow-def-btn:                        none;
@shadow-hover-btn:                      0 4px 10px rgba(0, 0, 0, .15);
@shadow-focus-btn:                      none;
@shadow-active-btn:                     0 1px 3px rgba(0, 0, 0, .1);
@shadow-disabled-btn:                   none;

@color-def-btn-inverse:                 @color-white-normal;
@color-hover-btn-inverse:               @color-white-lighter;
@color-focus-btn-inverse:               @color-white-lighter;
@color-active-btn-inverse:              @color-white-light;
@color-disabled-btn-inverse:            @color-white-lighter;
@bordercolor-def-btn-inverse:           @color-gray-lighter;
@bordercolor-hover-btn-inverse:         @color-black-normal;
@bordercolor-focus-btn-inverse:         @color-black-normal;
@bordercolor-active-btn-inverse:        @color-black-dark;
@bordercolor-disabled-btn-inverse:      transparent;
@bgcolor-def-btn-inverse:               @color-black-lighter;
@bgcolor-hover-btn-inverse:             @color-black-light;
@bgcolor-focus-btn-inverse:             @color-black-light;
@bgcolor-active-btn-inverse:            @color-black-normal;
@bgcolor-disabled-btn-inverse:          @color-black-light;
@shadow-def-btn-inverse:                none;
@shadow-hover-btn-inverse:              0 4px 10px rgba(0, 0, 0, .15);
@shadow-focus-btn-inverse:              none;
@shadow-active-btn-inverse:             0 2px 5px rgba(0, 0, 0, .2);
@shadow-disabled-btn-inverse:           none;

@color-def-btn-theme:                   @color-white-normal;
@color-hover-btn-theme:                 @color-white-lighter;
@color-focus-btn-theme:                 @color-white-lighter;
@color-active-btn-theme:                @color-white-light;
@color-disabled-btn-theme:              @color-white-lighter;
@bordercolor-def-btn-theme:             @color-theme-normal;
@bordercolor-hover-btn-theme:           @color-theme-light;
@bordercolor-focus-btn-theme:           @color-theme-normal;
@bordercolor-active-btn-theme:          @color-theme-normal;
@bordercolor-disabled-btn-theme:        transparent;
@bgcolor-def-btn-theme:                 @color-theme-normal;
@bgcolor-hover-btn-theme:               @color-theme-light;
@bgcolor-focus-btn-theme:               @color-theme-lighter;
@bgcolor-active-btn-theme:              @color-theme-light;
@bgcolor-disabled-btn-theme:            @color-theme-light;
@shadow-def-btn-theme:                  none;
@shadow-hover-btn-theme:                0 4px 10px rgba(0, 0, 0, .15);
@shadow-focus-btn-theme:                none;
@shadow-active-btn-theme:               0 2px 5px rgba(0, 0, 0, .2);
@shadow-disabled-btn-theme:             none;

@color-def-btn-key:                     @color-white-normal;
@color-hover-btn-key:                   @color-white-light;
@color-focus-btn-key:                   @color-white-light;
@color-active-btn-key:                  @color-white-light;
@color-disabled-btn-key:                @color-white-light;
@bordercolor-def-btn-key:               @color-key-normal;
@bordercolor-hover-btn-key:             @color-key-normal;
@bordercolor-focus-btn-key:             @color-key-normal;
@bordercolor-active-btn-key:            @color-key-normal;
@bordercolor-disabled-btn-key:          transparent;
@bgcolor-def-btn-key:                   @color-key-normal;
@bgcolor-hover-btn-key:                 @color-key-light;
@bgcolor-focus-btn-key:                 @color-key-light;
@bgcolor-active-btn-key:                @color-key-light;
@bgcolor-disabled-btn-key:              @color-key-light;
@shadow-def-btn-key:                    none;
@shadow-hover-btn-key:                  0 4px 10px rgba(0, 0, 0, .15);
@shadow-focus-btn-key:                  none;
@shadow-active-btn-key:                 0 2px 5px rgba(0, 0, 0, .2);
@shadow-disabled-btn-key:               none;

@color-def-btn-light:                   @color-black-normal;
@color-hover-btn-light:                 @color-black-dark;
@color-focus-btn-light:                 @color-black-dark;
@color-active-btn-light:                @color-black-normal;
@color-disabled-btn-light:              @color-black-dark;
@bordercolor-def-btn-light:             @color-light-normal;
@bordercolor-hover-btn-light:           @color-light-darker;
@bordercolor-focus-btn-light:           @color-light-darker;
@bordercolor-active-btn-light:          @color-light-darker;
@bordercolor-disabled-btn-light:        transparent;
@bgcolor-def-btn-light:                 @color-light-normal;
@bgcolor-hover-btn-light:               @color-light-light;
@bgcolor-focus-btn-light:               @color-light-light;
@bgcolor-active-btn-light:              @color-light-light;
@bgcolor-disabled-btn-light:            @color-light-light;
@shadow-def-btn-light:                  none;
@shadow-hover-btn-light:                0 4px 10px rgba(0, 0, 0, .15);
@shadow-focus-btn-light:                none;
@shadow-active-btn-light:               0 2px 5px rgba(0, 0, 0, .2);
@shadow-disabled-btn-light:             none;

@color-def-btn-nice:                    @color-white-normal;
@color-hover-btn-nice:                  @color-white-lighter;
@color-focus-btn-nice:                  @color-white-lighter;
@color-active-btn-nice:                 @color-white-light;
@color-disabled-btn-nice:               @color-white-lighter;
@bordercolor-def-btn-nice:              @color-nice-normal;
@bordercolor-hover-btn-nice:            @color-nice-normal;
@bordercolor-focus-btn-nice:            @color-nice-normal;
@bordercolor-active-btn-nice:           @color-nice-normal;
@bordercolor-disabled-btn-nice:         transparent;
@bgcolor-def-btn-nice:                  @color-nice-normal;
@bgcolor-hover-btn-nice:                @color-nice-lighter;
@bgcolor-focus-btn-nice:                @color-nice-light;
@bgcolor-active-btn-nice:               @color-nice-light;
@bgcolor-disabled-btn-nice:             @color-nice-light;
@shadow-def-btn-nice:                   none;
@shadow-hover-btn-nice:                 0 4px 10px rgba(0, 0, 0, .15);
@shadow-focus-btn-nice:                 none;
@shadow-active-btn-nice:                0 2px 5px rgba(0, 0, 0, .2);
@shadow-disabled-btn-nice:              none;

@borderwidth-def-btn-border:            2px;
@color-def-btn-border:                  @color-gray-light;
@color-hover-btn-border:                @color-white-light;
@color-focus-btn-border:                @color-white-light;
@color-active-btn-border:               @color-gray-light;
@color-disabled-btn-border:             @color-gray-lightest;
@bordercolor-def-btn-border:            @color-gray-light;
@bordercolor-hover-btn-border:          @color-white-light;
@bordercolor-focus-btn-border:          @color-white-light;
@bordercolor-active-btn-border:         @color-gray-light;
@bordercolor-disabled-btn-border:       @color-gray-lightest;
@bgcolor-def-btn-border:                transparent;
@bgcolor-hover-btn-border:              transparent;
@bgcolor-focus-btn-border:              transparent;
@bgcolor-active-btn-border:             transparent;
@bgcolor-disabled-btn-border:           transparent;
@shadow-def-btn-border:                 none;
@shadow-hover-btn-border:               0 4px 10px rgba(0, 0, 0, .5);
@shadow-focus-btn-border:               none;
@shadow-active-btn-border:              0 2px 5px rgba(0, 0, 0, .5);
@shadow-disabled-btn-border:            none;

@color-def-btn-borderinverse:                  @color-black-lighter;
@color-hover-btn-borderinverse:                @color-black-light;
@color-focus-btn-borderinverse:                @color-black-lighter;
@color-active-btn-borderinverse:               @color-black-lighter;
@color-disabled-btn-borderinverse:             @color-black-lighter;
@bordercolor-def-btn-borderinverse:            @color-black-lighter;
@bordercolor-hover-btn-borderinverse:          @color-black-normal;
@bordercolor-focus-btn-borderinverse:          @color-black-normal;
@bordercolor-active-btn-borderinverse:         @color-black-normal;
@bordercolor-disabled-btn-borderinverse:       @color-black-lighter;
@bgcolor-def-btn-borderinverse:                transparent;
@bgcolor-hover-btn-borderinverse:              transparent;
@bgcolor-focus-btn-borderinverse:              transparent;
@bgcolor-active-btn-borderinverse:             transparent;
@bgcolor-disabled-btn-borderinverse:           transparent;
@shadow-def-btn-borderinverse:                 none;
@shadow-hover-btn-borderinverse:               0 4px 10px rgba(0, 0, 0, .3);
@shadow-focus-btn-borderinverse:               none;
@shadow-active-btn-borderinverse:              0 2px 5px rgba(0, 0, 0, .3);
@shadow-disabled-btn-borderinverse:            none;

@color-def-btn-link:                     @color-theme-dark;
@color-hover-btn-link:                   @color-theme-light;
@color-focus-btn-link:                   @color-theme-dark;
@color-active-btn-link:                  @color-theme-dark;
@color-disabled-btn-link:                @color-theme-dark;
@bordercolor-def-btn-link:               transparent;
@bordercolor-hover-btn-link:             transparent;
@bordercolor-focus-btn-link:             transparent;
@bordercolor-active-btn-link:            transparent;
@bordercolor-disabled-btn-link:          transparent;
@bgcolor-def-btn-link:                   transparent;
@bgcolor-hover-btn-link:                 transparent;
@bgcolor-focus-btn-link:                 transparent;
@bgcolor-active-btn-link:                transparent;
@bgcolor-disabled-btn-link:              transparent;
@shadow-def-btn-link:                    none;
@shadow-hover-btn-link:                  none;
@shadow-focus-btn-link:                  none;
@shadow-active-btn-link:                 none;
@shadow-disabled-btn-link:               none;



//气泡菜单
@color-def-popmenu:                     @color-black-normal;
@color-hover-popmenu:                   @color-black-dark;
@color-active-popmenu:                  @color-black-normal;
@color-disabled-popmenu:                @color-gray-normal;
@color-icon-popmenu:                    @color-black-lighter;

@bgcolor-def-popmenu:                   @color-white-lighter;
@bgcolor-hover-popmenu:                 @color-white-dark;
@bgcolor-active-popmenu:                @color-gray-lightest;
@bgcolor-disabled-popmenu:              @color-white-lighter;

@bordercolor-popmenu:                   @color-gray-lighter;
@bordercolor-top-popmenu-split:         @color-gray-lightest;
@bordercolor-bottom-popmenu-split:      @color-white-lighter;

@borderwidth-popmenu:                   1px;
@borderwidth-top-popmenu-split:         1px;
@borderwidth-bottom-popmenu-split:      1px;

@color-popmenu-item-selected:           @color-black-darker;
@bgcolor-popmenu-item-selected:         @color-gray-lightest;

@color-popmenu-icon-selected:           @color-theme-darker;
@color-popmenu-icon-hassub:             @color-theme-dark;

@minwidth-popmenu:                      160px;
@minwidth-small-popmenu:                140px;
@minwidth-large-popmenu:                180px;

@fontsize-popmenu:                      @fontsize-control;
@fontsize-popmenu-small:                @fontsize-control-small;
@fontsize-popmenu-large:                @fontsize-control-large;

@fontweight-popmenu:                    @fontweight-def;
@fontweight-popmenu-small:              @fontweight-def;
@fontweight-popmenu-large:              @fontweight-def;

@fontsize-popmenu-icon:                 14px;
@fontsize-popmenu-icon-selected:        14px;
@fontsize-popmenu-icon-hassub:          14px;

@height-popmenu-item:                   28px;
@height-popmenu-small-item:             26px;
@height-popmenu-large-item:             30px;
@height-popmenu-split:                  10px;

@padding-popmenu-tb:                    5px;
@padding-popmenu-item-l:                15px;
@padding-popmenu-item-r:                15px;
@padding-popmenu-selectable-item-r:     35px;
@padding-popmenu-icon-item-l:           40px;
@padding-popmenu-tree-item-l:           35px;
@padding-popmenu-tree-item-r:           35px;

@zindex-def-popmenu:                    @zindex-control;
@zindex-active-popmenu:                 @zindex-def-popmenu + 10;
@zindex-hover-popmenu:                  @zindex-def-popmenu + 20;

@radius-popmenu:                        @radius-def;

@icon-popmenu-selected:                 @icon-done;
@icon-popmenu-sub-left:                 @icon-left-min;
@icon-popmenu-sub-right:                @icon-right-min;



//下拉框
@color-select-item-selected:    @color-black-light;
@bgcolor-select-item-selected:  @color-theme-lightest;

@height-select:                 @height-control;
@height-select-small:           @height-control-small;
@height-select-large:           @height-control-large;

@zindex-select:                 @zindex-control;
@zindex-select-hover:           @zindex-select + 10;
@zindex-selectbox:              @zindex-control + 20;
@zindex-selectbox-after:        @zindex-selectbox + 10;
@zindex-selectlist:             @zindex-control + 10;

@lineheight-select:             @height-select - 2px;
@lineheight-select-small:       @height-select-small - 2px;
@lineheight-select-large:       @height-select-large - 2px;

@height-select-list:            300px;
@height-select-split:           10px;

@height-select-item:            28px;
@height-select-small-item:      26px;
@height-select-large-item:      30px;

@fontsize-select-text:          @fontsize-control;
@fontsize-select-small-text:    @fontsize-control-small;
@fontsize-select-large-text:    @fontsize-control-large;

@fontsize-select-list:          @fontsize-control-small;
@fontsize-select-small-list:    @fontsize-control-small;
@fontsize-select-large-list:    @fontsize-control;

@padding-select-l:              15px;
@padding-select-r:              5px;

@radius-select:                 @radius-def;
@radius-select-list:            @radius-def;

@icon-select-right:             @icon-right-min;
@icon-select-down:              @icon-down-min;
@icon-select-up:                @icon-up-min;



//单选复选框
@fontsize-chkradio:                 @fontsize-control;
@zindex-chkradio-before:            @zindex-control;
@zindex-chkradio-after:             @zindex-chkradio-before + 10;
@padding-chkradio-tb:               3px;
@padding-chkradio-l:                25px;
@padding-chkradio-r:                10px;
@height-chkradio:                   20px;
@borderwidth-chkradio-before:               2px;
@radius-chkradio-chk-before:                .2em;
@radius-chkradio-radio-before:              1em;
@icon-chkradio-after:                       @icon-done;

@color-chkradio:                            @color-black-dark;
@color-hover-chkradio:                      @color-black-dark;
@color-checked-chkradio:                    @color-black-dark;
@color-disabled-chkradio:                   @color-gray-light;

@bordercolor-chkradio-before:               @color-gray-normal;
@bordercolor-hover-chkradio-before:         @color-gray-lighter;
@bordercolor-checked-chkradio-before:       @color-gray-darker;
@bordercolor-disabled-chkradio-before:      @color-gray-lighter;
@bgcolor-chkradio-before:                   transparent;
@bgcolor-hover-chkradio-before:             transparent;
@bgcolor-checked-chkradio-before:           transparent;
@bgcolor-disabled-chkradio-before:          transparent;
@bgcolor-chkradio-after:                    transparent;
@bgcolor-hover-chkradio-after:              @color-black-lighter;
@bgcolor-checked-chkradio-after:            @color-black-dark;
@bgcolor-disabled-chkradio-after:           transparent;
@color-hover-chkradio-after:                @color-black-dark;
@color-checked-chkradio-after:              @color-black-darker;

@bordercolor-chkradio-theme-before:                 @color-theme-normal;
@bordercolor-hover-chkradio-theme-before:           @color-theme-light;
@bordercolor-checked-chkradio-theme-before:         @color-theme-normal;
@bordercolor-disabled-chkradio-theme-before:        @color-theme-light;
@bgcolor-chkradio-theme-before:                     transparent;
@bgcolor-hover-chkradio-theme-before:               transparent;
@bgcolor-checked-chkradio-theme-before:             @color-theme-normal;
@bgcolor-disabled-chkradio-theme-before:            transparent;
@bgcolor-chkradio-theme-after:                      transparent;
@bgcolor-hover-chkradio-theme-after:                @color-theme-darker;
@bgcolor-checked-chkradio-theme-after:              @color-white-light;
@bgcolor-disabled-chkradio-theme-after:             transparent;
@color-hover-chkradio-theme-after:                  @color-theme-darker;
@color-checked-chkradio-theme-after:                @color-white-light;

@bordercolor-chkradio-key-before:                   @color-key-normal;
@bordercolor-hover-chkradio-key-before:             @color-key-light;
@bordercolor-checked-chkradio-key-before:           @color-key-normal;
@bordercolor-disabled-chkradio-key-before:          @color-key-light;
@bgcolor-chkradio-key-before:                       transparent;
@bgcolor-hover-chkradio-key-before:                 transparent;
@bgcolor-checked-chkradio-key-before:               @color-key-normal;
@bgcolor-disabled-chkradio-key-before:              transparent;
@bgcolor-chkradio-key-after:                        transparent;
@bgcolor-hover-chkradio-key-after:                  @color-key-darker;
@bgcolor-checked-chkradio-key-after:                @color-white-light;
@bgcolor-disabled-chkradio-key-after:               transparent;
@color-hover-chkradio-key-after:                    @color-key-darker;
@color-checked-chkradio-key-after:                  @color-white-light;

@bordercolor-chkradio-light-before:                 @color-light-darker;
@bordercolor-hover-chkradio-light-before:           @color-light-darker;
@bordercolor-checked-chkradio-light-before:         @color-light-darker;
@bordercolor-disabled-chkradio-light-before:        @color-light-darker;
@bgcolor-chkradio-light-before:                     transparent;
@bgcolor-hover-chkradio-light-before:               transparent;
@bgcolor-checked-chkradio-light-before:             @color-light-darker;
@bgcolor-disabled-chkradio-light-before:            transparent;
@bgcolor-chkradio-light-after:                      transparent;
@bgcolor-hover-chkradio-light-after:                @color-black-light;
@bgcolor-checked-chkradio-light-after:              @color-black-dark;
@bgcolor-disabled-chkradio-light-after:             transparent;
@color-hover-chkradio-light-after:                  @color-black-light;
@color-checked-chkradio-light-after:                @color-black-dark;

@bordercolor-chkradio-nice-before:                  @color-nice-darker;
@bordercolor-hover-chkradio-nice-before:            @color-nice-normal;
@bordercolor-checked-chkradio-nice-before:          @color-nice-dark;
@bordercolor-disabled-chkradio-nice-before:         @color-nice-normal;
@bgcolor-chkradio-nice-before:                      transparent;
@bgcolor-hover-chkradio-nice-before:                transparent;
@bgcolor-checked-chkradio-nice-before:              @color-nice-dark;
@bgcolor-disabled-chkradio-nice-before:             transparent;
@bgcolor-chkradio-nice-after:                       transparent;
@bgcolor-hover-chkradio-nice-after:                 @color-nice-darker;
@bgcolor-checked-chkradio-nice-after:               @color-white-light;
@bgcolor-disabled-chkradio-nice-after:              transparent;
@color-hover-chkradio-nice-after:                   @color-nice-darker;
@color-checked-chkradio-nice-after:                 @color-white-light;



//表格
@color-def-table:                   @color-black-light;
@color-caption-table:               @color-gray-darker;
@color-head-table:                  @color-black-dark;
@color-body-table:                  @color-black-dark;
@color-foot-table:                  @color-black-dark;
@color-hover-table:                 @color-black-darker;
@bordercolor-def-table:             @color-gray-lighter;
@bordercolor-box-table:             @color-gray-lighter;
@bordercolor-head-table:            @color-gray-lighter;
@bgcolor-def-table:                 @color-white-lighter;
@bgcolor-diff-table:                @color-white-normal;
@bgcolor-hover-table:               @color-white-normal;
@bgcolor-caption-table:             @color-white-lighter;
@fontsize-table:                    @fontsize-def;

@radius-table:                      @radius-def;


//标签页
@bgcolor-tabs-navs:                 transparent;
@borderwidth-tabs-navs:             1px;
@bordercolor-tabs-navs:             @color-gray-lighter;

@color-tabs-nav:                    @color-theme-dark;
@color-tabs-nav-hover:              @color-black-lighter;
@color-tabs-nav-active:             @color-black-normal;

@bgcolor-tabs-nav:                  transparent;
@bgcolor-tabs-nav-hover:            @color-white-lighter;
@bgcolor-tabs-nav-active:           @color-white-lighter;

@bordercolor-tabs-nav:              transparent;
@bordercolor-tabs-nav-hover:        @color-white-dark;
@bordercolor-tabs-nav-active:       @color-gray-lighter;

@fontsize-tabs-nav:                 14px;
@fontsize-tabs-nav-small:           12px;

@padding-tabs-nav-tb:               15px;
@padding-tabs-nav-lr:               15px;
@padding-tabs-nav-small-tb:         8px;
@padding-tabs-nav-small-lr:         15px;

@height-tabs-nav:                   50px;
@height-tabs-nav-small:             32px;

@lineheight-tabs-nav:               @height-tabs-nav - @padding-tabs-nav-tb*2 - 2px;
@lineheight-tabs-nav-small:         @height-tabs-nav-small - @padding-tabs-nav-small-tb*2 - 2px;

@zindex-tabs:                       @zindex-bg;
@zindex-tabs-nav:                   @zindex-control;
@zindex-tabs-nav-hover:             @zindex-tabs-nav + 10;
@zindex-tabs-nav-active:            @zindex-tabs-nav + 20;

@radius-tab-nav:                    @radius-def;


//标签
@padding-tag-tb:            .3em;
@padding-tag-lr:            .5em;

@height-tag:                inherit;
@lineheight-tag:            1;
@fontsize-tag:              .7em;

@color-tag:                 @color-white-lighter;
@bgcolor-tag:               @color-gray-dark;
@bordercolor-tag:           transparent;

@radius-tag:                @radius-def;


//输入框
@width-input:               160px;
@height-input:              @height-control;
@width-textarea:            @width-input;
@height-textarea:           @height-control * 3;
@height-input-small:        @height-control-small;
@height-input-large:        @height-control-large;

@padding-input:             4px;
@padding-input-l:           15px;

@lineheight-input:          @height-control - @padding-input*2 - 2px;
@lineheight-input-small:    @height-control-small - @padding-input*2 - 2px;
@lineheight-input-large:    @height-control-large - @padding-input*2 - 2px;

@fontsize-input:            @fontsize-control;
@fontsize-input-small:      @fontsize-control-small;
@fontsize-input-large:      @fontsize-control-large;

@bordercolor-input:         @color-gray-lighter;
@bgcolor-input:             @color-white-lighter;
@shadowcolor-input:         rgba(0, 0, 0, .05);
@bordercolor-input-focus:   @color-gray-normal;
@shadowcolor-input-focus:   rgba(0, 0, 0, .09);

@bordercolor-input-theme:           @bordercolor-input;
@bgcolor-input-theme:               @bgcolor-input;
@bordercolor-input-theme-focus:     @color-theme-normal;
@shadowcolor-input-theme-focus:     rgba(5, 195, 249, .2);      //@color-theme-normal #05C3F9

@bordercolor-input-key:             @bordercolor-input;
@bgcolor-input-key:                 @bgcolor-input;
@bordercolor-input-key-focus:       @color-key-normal;
@shadowcolor-input-key-focus:       rgba(249, 83, 57, .2);      //@color-key-normal #F95339

@bordercolor-input-light:           @bordercolor-input;
@bgcolor-input-light:               @bgcolor-input;
@bordercolor-input-light-focus:     @color-light-darkest;
@shadowcolor-input-light-focus:     rgba(255, 211, 1, .2);      //@color-light-normal #FFFF01

@bordercolor-input-nice:            @bordercolor-input;
@bgcolor-input-nice:                @bgcolor-input;
@bordercolor-input-nice-focus:      @color-nice-normal;
@shadowcolor-input-nice-focus:      rgba(1, 198, 119, .2);      //@color-light-normal #01C677

@radius-input:                      @radius-def;


//组合输入框
@zindex-inputgroup-input:               @zindex-control;
@zindex-inputgroup-input-focus:         @zindex-inputgroup-input + 20;
@zindex-inputgroup-addons:              @zindex-inputgroup-input + 10;
@zindex-inputgroup-addons-btn:          @zindex-control;
@zindex-inputgroup-addons-btn-hover:    @zindex-inputgroup-addons-btn + 10;


//表单
@padding-form:              0;
@margin-form-t:             0;
@margin-form-b:             0;
@margin-form-sub-t:         5px;
@margin-form-sub-b:         30px;
@margin-form-item-t:        0;
@margin-form-item-b:        15px;

@fontsize-formlabel:        14px;
@width-formlabel:           70px;
@margin-formlabel-l:        0px;
@margin-formlabel-r:        15px;

@color-formmust:            @color-key-normal;
@icon-form-must:            @icon-snow;

//遮罩层
@bgcolor-mask:              @color-black-darker;
@zindex-mask:               @zindex-layer;


//对话框
@zindex-dlg:                @zindex-layer;
@zindex-dlgmask:            @zindex-dlg;
@zindex-dlgwrapper:         @zindex-dlg + 10;
@zindex-dlgtitle:           @zindex-bg;
@zindex-dlgclose:           @zindex-dlgtitle + 10;

@color-dlgtitle:            @color-black-lighter;
@fontsize-dlgtitle:         @fontsize-m;
@fontweight-dlgtitle:       @fontweight-bold;

@icon-dlgclose:             @icon-delete;

@radius-dlg:                @radius-def;








