//====================================================
//
//		variables
//
//====================================================


//=========== framework ==============================

//颜色
@black--:				#000;
@black-:				#222;
@black:					#333;
@black+:				#444;
@black++:				#666;

@gray--:				#999;
@gray-:					#aaa;
@gray:					#bbb;
@gray+:					#ddd;
@gray++:				#ccc;

@brand-primary:			darken(#428bca, 6.5%);		// #337ab7
@brand-success:			#5cb85c;
@brand-info:			#5bc0de;
@brand-warning:			#f0ad4e;
@brand-danger:			#d9534f;

@color-def:				@black;

//排版
@fontfamily-def:		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
@fontsize-def:			14px;

@lineheight-def:		1.5;
@lineheight-auto:    	floor((@fontsize-def * @lineheight-def));		//计算一个静态行高

