//====================================================
//
//		variables
//
//====================================================

//prime类名前缀（一般用于自定义样式库和解决css类名冲突）
@prefix:				;

//颜色
@color-theme-darker:	#027FA2;
@color-theme-dark:		#319DBB;
@color-theme:			#05C3F9;
@color-theme-light:		#43D3FC;
@color-theme-lighter:	#74DEFC;

@color-key-darker:		#A22613;
@color-key-dark:		#BB5D4F;
@color-key:				#F95339;
@color-key-light:		#FC7E6A;

@color-blink:			#FFFF01;
@color-blink-light:		#FFFF41;
@color-blink-lighter:	#FFFF73;

@color-nice-darker:		#00814D;
@color-nice-dark:		#269568;
@color-nice:			#01C677;
@color-nice-light:		#39E39E;
@color-nice-lighter:	#67E3B1;

@black-darker:			#000;
@black-dark:			#222;
@black:					#333;
@black-light:			#444;
@black-lighter:			#666;

@white-darker:			#f3f3f3;
@white-dark:			#f5f5f5;
@white:					#f7f7f7;
@white-light:			#fafafa;
@white-lighter:			#fff;

@gray-darker:			#999;
@gray-dark:				#aaa;
@gray:					#bbb;
@gray-light:			#ccc;
@gray-lighter:			#ddd;

@color-def:				@black;
@color-title:			inherit;
@color-hr:				@gray-light;
@color-small:			@gray-darker;


@backgroundcolor-def:	@white-light;

//布局
@grid-columns-12:		12;		//偶数等分12列
@grid-columns-5:		5;		//奇数等分5列
@grid-columns-7:		7;		//奇数等分7列

//排版
@fontfamily-def:		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
@fontfamily-title:		inherit;

@defpx:					16;
@rem2px:				1/@defpx;	// 1/16 = 0.0625;

@fontsize-s:			0.75;	// 12px
@fontsize-def:			0.875;	// 14px
@fontsize-m:			1;		// 16px
@fontsize-l:			1.125;	// 18px
@fontsize-xl:			1.5;	// 24px
@fontsize-xxl:			1.875;	// 30px
@fontsize-xxxl:			2.25;	// 36px

@fontweight-def:		400;		//==normal
@fontweight-bold:		700;		//==bold
@fontweight-title:		500;		//==Medium

@lineheight-def:		1.5;
@lineheight-auto:    	floor(@fontsize-def/@rem2px * @lineheight-def);	//动态行高，根据字体大小计算
@lineheight-title:		1.1;

//边框
@borderstyle-def:		solid;
@borderstyle-dotted:	dotted;
@borderstyle-double:	double;
@borderstyle-dashed:	dashed;









